body {
  background-color: #d0dab8;
}
@font-face {
  font-family: "robotomono";
  src: url(/fonts/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
  font-family: "pressstart";
  src: url(/fonts/PressStart2P-Regular.ttf);
}
h1,
p,
dl {
  font-family: "robotomono";
}
.menu {
  font-family: "pressstart";
}
.map {
  width: 100%;
  height: 500px;
  padding-top: 50px;
}
.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: space-around;
}
@media (width >=600px) {
  .indhold {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  h1 {
    text-align: center;
  }
  .stuenudefra {
    width: 100%;
    height: 100%;
    margin-left: 120px;
  }
  .map {
    width: 80%;
    height: 500px;
    margin-left: 119px;
    padding-top: 50px;
  }
  dl {
    text-align: center;
    margin-left: 200px;
    margin-right: 120px;
    margin-top: 130px;
  }
  dd {
    text-align: left;
  }
}
dl {
  text-align: center;
}
h1 {
  text-align: center;
}
dt {
  font-weight: bold;
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.stuenudefra {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #1b361f;
}

.footerindhold {
  background-color: #1b361f;
  color: #caffae;
  border: #3cc048;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 30px;
}

.footerindhold > div {
  width: 45%;
}

.footerindhold h2 {
  color: #caffae;
}

.footerindhold ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.allfooter {
  font-family: font3;
  border: #3cc048 solid 7px;
  border-radius: 8px;
}

footer {
  border: #3cc048 solid 6px;
  padding: 15px;
  border-radius: 7px;
  background-color: #1b361f;
}

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 10px 30px;
  margin-top: 10px;
  overflow: hidden;
  background-color: #1b361f;
}

.icons img {
  height: 30px;
  width: auto;
  max-width: 100%;
  display: block;
}

.CTA img {
  height: auto;
  max-height: 50px;
}
